<header class="header">
    <div class="container">
        <div class="header__row">
            <a routerLink="/" class="header__logo">Weather</a>
            <div class="header__options">
                <nav class="header__nav">
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/history">History</a></li>
                        <li><a routerLink="/about">About</a></li>
                    </ul>
                </nav>
                <div class="header__units">
                    <div class="header__units-item current">&#8451;</div>
                    <div class="header__units-item">&#8457;</div>
                </div>
            </div>
        </div>
    </div>
</header>