<div class="app-game">
    <div class="app-game__start" *ngIf="!isGameStarted">
        <div class="app-game__start-title">
            Rock Scissors Paper
        </div>
        <div class="app-game__start-icon">
            <fa-icon icon="gamepad"></fa-icon>
        </div>
        <input class="app-game__start-field" [ngClass]="!user.name ? 'app-game__start-field--error' : ''"
            [(ngModel)]="user.name" placeholder="Enter your name" />
        <button class="app-game__start-btn" (click)="startGame()">Play now</button>
    </div>
    <div class="app-game__process" *ngIf="isGameStarted && !isGameOver">
        <div class="app-game__players">
            <div class="app-game__player">
                <div class="app-game__player-score">
                    <fa-icon icon="flag-checkered"></fa-icon>
                    {{computer.score}}
                </div>
                <div class="app-game__player-name">
                    {{computer.name}}
                </div>
            </div>
            <div class="app-game__player">
                <div class="app-game__player-score">
                    <fa-icon icon="flag-checkered"></fa-icon>
                    {{user.score}}
                </div>
                <div class="app-game__player-name">
                    {{user.name}}
                </div>
            </div>
        </div>
        <div class="app-game__area">
            <div class="app-game__area-value" [ngClass]="{'animated': isFightStarted}">
                <span class="fa-flip-horizontal" *ngIf="computer.value === 0">
                    <fa-icon icon="fist-raised" class="fa-fw fa-10x fa-rotate-270"></fa-icon>
                </span>
                <fa-icon icon="hand-rock" class="fa-fw fa-10x fa-rotate-90" *ngIf="computer.value === 1"></fa-icon>
                <fa-icon icon="hand-scissors" class="fa-fw fa-10x fa-rotate-180" *ngIf="computer.value === 2"></fa-icon>
                <fa-icon icon="hand-paper" class="fa-fw fa-10x fa-rotate-90" *ngIf="computer.value === 3"></fa-icon>
            </div>
            <div class="app-game__area-value" [ngClass]="{'animated': isFightStarted}">
                <fa-icon icon="fist-raised" class="fa-fw fa-10x fa-rotate-270" *ngIf="user.value === 0"></fa-icon>
                <span class="fa-flip-vertical" *ngIf="user.value === 1">
                    <fa-icon icon="hand-rock" class="fa-fw fa-10x fa-rotate-270"></fa-icon>
                </span>
                <fa-icon icon="hand-scissors" class="fa-fw fa-10x" *ngIf="user.value === 2"></fa-icon>
                <fa-icon icon="hand-paper" class="fa-fw fa-10x fa-rotate-270" *ngIf="user.value === 3"></fa-icon>
            </div>
        </div>
        <div class="app-game__actions">
            <div class="app-game__actions-item" [ngClass]="{'app-game__actions-item--disabled': isFightStarted}"
                (click)="startFight(1)">
                <fa-icon icon="hand-rock"></fa-icon>
            </div>
            <div class="app-game__actions-item" [ngClass]="{'app-game__actions-item--disabled': isFightStarted}"
                (click)="startFight(2)">
                <fa-icon icon="hand-scissors" class="fa-rotate-90"></fa-icon>
            </div>
            <div class="app-game__actions-item" [ngClass]="{'app-game__actions-item--disabled': isFightStarted}"
                (click)="startFight(3)">
                <fa-icon icon="hand-paper"></fa-icon>
            </div>
        </div>
    </div>
    <div class="app-game__gameover" *ngIf="isGameOver">
        <div class="app-game__gameover-inner">
            <div class="app-game__gameover-icon">
                <fa-icon icon="gamepad"></fa-icon>
            </div>
            <div class="app-game__gameover-player">{{playerWin}}</div>
            <button class="app-game__gameover-retry" (click)="retryGame()">
                <fa-icon icon="undo"></fa-icon>
            </button>
        </div>
    </div>
</div>