<div class="app">
  <fieldset>
    <legend>Reverse string pipe:</legend>
    <fieldset>
      <label for="reverse-string">String to reverce:</label>
      <input type="text" id="reverse-string" placeholder="" [(ngModel)]="pipeReverseString">
    </fieldset>
    <fieldset>
      <label for="reverse-count">Reverse count:</label>
      <input type="text" id="reverse-count" placeholder="" [(ngModel)]="pipeReverseCount" appPositiveNumbers>
    </fieldset>
    <span>Reverse result: {{ pipeReverseString | reverseString: pipeReverseCount }}</span>
  </fieldset>

  <fieldset>
    <label for="positive-numbers">Positive numbers:</label>
    <input type="text" id="positive-numbers" placeholder="" appPositiveNumbers>
  </fieldset>
</div>